<!DOCTYPE html>
<html lang="en">
<head>
    <title>Robolapse App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/move">Move</a>
                    </li>
                    <li role="presentation"><a href="#">About</a>
                    </li>
                </ul>
            </nav>
            <div class="">
                <br>
                <br>
                <br>
                <h3 class="text-muted">Robolapse App</h3>
            </div>
        </div>
        <div class="jumbotron">
            <h3>Timelapse configuration</h3>
            <form>
                <div class="form-group row">
                    <label for="laps" class="col-sm-2 col-form-label" type="number">Laps</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="laps" placeholder="Enter the number of laps">
                    </div>
                </div>
                <div class="form-group  row">
                    <label for="time" class="col-sm-2 col-form-label" type="number">Time</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="time" placeholder="Enter total time in min">
                    </div>
                </div>
                <div class="form-group  row">
                    <label for="dt" class="col-sm-2 col-form-label" type="number">Frame interval</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="dt" placeholder="Enter frame interval in sec">
                    </div>
                </div>
                <button id="run" type="submit" class="btn btn-primary mb-2">Run</button>
            </form>
        </div>
        <footer class="footer">
            <p>etpereira & cmoliveira 2020</p>
        </footer>

    </div>
</body>

<script>
$(document).ready(function () {
$("#run").click(function (e) {
        $.ajax({
            type: "GET",
            url: "http://192.168.43.31:5000/api/capture_tl?t=" + $("#time").val() + "&override_period=True" +" &dt="+ $("#dt").val() ,
            dataType: "text",
            success: function (result, status, xhr) {
                alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            },
            error: function (xhr, status, error) {
                alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
        $.ajax({
            type: "GET",
            url: "http://192.168.43.31:5000/api/laps?n=" + $("#laps").val() + " &t="+ $("#time").val() ,
            dataType: "text",
            success: function (result, status, xhr) {
                alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            },
            error: function (xhr, status, error) {
                alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
});
});
</script>
</html>
